*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--textColor);
}
:root{
    --corPrimaria: rgb(91, 87, 87);
    --corSecundaria: rgb(68, 67, 67);
    --textColor: aliceblue;
}
main{
    width: 100vw;
    height: 100vh;

    background-color: var(--corPrimaria);
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border: 1px solid var(--corSecundaria);

    width: 25rem;

    padding: 2rem;
    gap: 0.5rem;
}
#desc{
    font-size: 22px;
    margin-bottom: 1rem;
    text-align: justify;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
legend{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.7rem;
    font-size: 20px;
}

input{
    width: 100%;

    border: 1px solid var(--corSecundaria);
    padding: 0.5rem;
    outline: none;
    background-color: var(--corPrimaria);
}
button{
    margin-block: 1rem;

    width: 100%;
    height: 3rem;

    border: 1px solid var(--corSecundaria);
    background-color: var(--corPrimaria);

    transition: 1s;

    cursor: pointer;
}
button:hover{
    border: 1px solid var(--corPrimaria);
    background-color: var(--corSecundaria);
    color: var(--textColor);
}